* {
    margin:0;
    padding: 0;
}

.whistle{
    width: 20%;
    fill: #f95959;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle .2s infinite;
}
/* adds animations to the whistle image */
@keyframes wiggle {
    0%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(3deg);
    }
}

.forbidden {
    color: #ffc107;
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    text-transform: uppercase;
}

.home-link {
    padding: 5px;
    color: #e7b737;
}

.home-link:hover{
    background-color: lightgray;
    color: #1BA1E2;
}